{% extends 'main/layout.html' %}

{% block title %}
Подробная информация о нас
{% endblock %}

{% block content %}
<div class="features">
    <h1>Сервис для управления электрическими сетями</h1>
</div>
<div class="indexInfo">
    <p>VoltWatch - это молодой и амбициозный проект по управлению электрическими сетями. <br> Данный сервис позволяет регулировать
        и управлять электросетями по всей стране. <br> VoltWatch отслеживает работу электросетей в реальном времени и своевременно
    устраняет ошибки,<br> которые возникают в результате неверных настроек аппаратуры электросетей</p>

    <button class="btn btn-warning">Просмотреть документацию</button>
</div>
{% endblock %}