{% extends 'main/layout.html' %}

{% block title %}
Дополнительная информация
{% endblock %}

{% block content %}
<div class="features">
    <h1>Информация по использованию сервиса</h1>
</div>
<div class="indexInfo">
    <p>Для того, чтобы воспользоваться сервисом - ПО электросети отправляет данные на веб-сервис.
        <br> VoltWatch принимает эти данные, обрабатывает их, устраняет ошибки и отправляет откорректированные данные
    на электросеть,<br> что способствует стабильной работе всех подключённых электросетей.</p>

    <button class="btn btn-warning">Подробнее про сервис</button>
    <button class="btn btn-warning">Внутренние алгоритмы</button>
</div>
{% endblock %}